#ftco-navbar{
    background-color: rgba(0, 0, 0, 0.25) !important;
    position: absolute;
}

#ftco-navbar.awake.scrolled{
    background-color: #151111 !important;
    position: fixed !important;
}






