<nav
  class="navbar navbar-expand-lg bg-dark navbar-dark ftco_navbar  ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <a
      class="navbar-brand"
      [routerLink]="['/home']"
    >
      La Bodega

      <small>bebidas</small>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span>
      Menu
    </button>

    <div
      class="collapse navbar-collapse"
      id="ftco-nav"
    >
      <ul class="navbar-nav ml-auto"> 
        <li class="nav-item">
          <a
            [routerLink]="['/home']"
            routerLinkActive="active"
            class="nav-link"
          >Inicio</a>
        </li>

        <li class="nav-item">
          <a
            [routerLink]="['/about']"
            routerLinkActive="active"
            class="nav-link"
          >Nosotros</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLinkActive="active"
            id="dropdown04"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >Productos</a>

          <div
            class="dropdown-menu"
            aria-labelledby="dropdown04"
          >
            <a
              class="dropdown-item"
              [routerLink]="['/products']"
            >Todos</a>

            <a
              class="dropdown-item"
              [routerLink]="['/products']"
            >Vinos</a>

            <a
              class="dropdown-item"
              [routerLink]="['/products']"
            >Cervezas</a>

            <a
              class="dropdown-item"
              [routerLink]="['/products']"
            >Bebidas blancas</a>

            <a
              class="dropdown-item"
              [routerLink]="['/products']"
            >Whisky's</a>

            <a
              class="dropdown-item"
              [routerLink]="['/products']"
            >Otros</a>
          </div>
        </li>

        <li class="nav-item">
          <a
            [routerLink]="['/services']"
            routerLinkActive="active"
            class="nav-link"
          >Servicios</a>
        </li>

        <li class="nav-item cart">
          <a
            [routerLink]="['/cart']"
            routerLinkActive="active"
            class="nav-link"
          >
          <i class='bx bx-cart-alt' style="font-size: 20px;"></i>

            <span class="bag d-flex justify-content-center align-items-center">
              <small>5</small>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            class="nav-link"
          >
          <i class='bx bx-user' (click)="open()" style="font-size: 20px;"></i>

            
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>