<section class="ftco-intro">
    <div class="container-wrap">
        <div class="wrap d-md-flex align-items-xl-end">
            <div class="info">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex ftco-animate" [ngClass]="{'fadeInUp ftco-animated': pos}">
                        <div class="icon"><span class="icon-phone"></span></div>
                        <div class="text">
                            <h3>+54 (221) 456 7890</h3>
                            <p>Recibimos solamente mensajes por whatsapp.</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate" [ngClass]="{'fadeInUp ftco-animated': pos}">
                        <div class="icon"><span class="icon-my_location"></span></div>
                        <div class="text">
                            <h3>Bv. Florencio Sanchez #125</h3>
                            <p>	Pergamino, Buenos Aires, Argentina</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate" [ngClass]="{'fadeInUp ftco-animated': pos}">
                        <div class="icon"><span class="icon-clock-o"></span></div>
                        <div class="text">
                            <h3>Abierto Martes-Domingo</h3>
                            <p>5:00pm - 11:00pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>